spring:
  application:
    name: ootd
  servlet:
    multipart:
      maxFileSize: 10MB # 파일 하나의 최대 크기
      maxRequestSize: 30MB  # 한 번에 최대 업로드 가능 용량
  datasource:
    driver-class-name: org.postgresql.Driver
    hikari:
      connection-timeout: 30000  # 30초
      idle-timeout: 600000       # 10분
      max-lifetime: 1800000      # 30분
      maximum-pool-size: 20      # 커넥션 풀 크기 증가
      minimum-idle: 10
      validation-timeout: 5000
  jpa:
    hibernate:
      ddl-auto: validate
    jdbc:
      batch_size: 100      # ddl 몇개 모아서 DB에 전송할지
      order_inserts: true
      order_updates: true
    open-in-view: false
  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  profiles:
    active:
      - dev
  config:
    import: optional:file:.env[.properties]
  mail:
    host: smtp.gmail.com
    port: 587
    username: ootdboo1@gmail.com
    password: ${GOOGLE_APP_PWD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  data:
    mongodb:
      uri: ${MONGODB_URI}
      database: ${NOTIFICATIN_DB}
      uuid-representation: standard
      auto-index-creation: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,loggers,caches
  endpoint:
    health:
      show-details: always
  observations:
    annotations:
      enabled: true

kakao:
  api:
    key: ${KAKAO_API_KEY}

weather:
  api:
    key: ${WEATHER_API_KEY}
  batch:
    enabled: true
    grid-size: 10
    chunk-size: 300        # 청크 크기
    regions-per-partition: 10  # 파티션당 지역 수
    numOfRows: 1000
    thread-pool:
      core-size: 5
      max-size: 10
    schedule:
      cron: "0 30 2,5,8,11,14,17,20,23 * * *"
  regions:
    file:
      path: classpath:regions.csv

info:
  name: ootd
  version: 1.7.0
  java:
    version: 17
  spring-boot:
    version: 3.5.3
  config:
    datasource:
      url: ${spring.datasource.url}
      driver-class-name: ${spring.datasource.driver-class-name}
    jpa:
      ddl-auto: ${spring.jpa.hibernate.ddl-auto}
    storage:
      type: ${ootd.storage.type}
      path: ${ootd.storage.local.root-path}
    multipart:
      max-file-size: ${spring.servlet.multipart.maxFileSize}
      max-request-size: ${spring.servlet.multipart.maxRequestSize}

ootd:
  storage:
    type: s3
    s3:
      access-key: ${AWS_S3_ACCESS_KEY} # local -> .env, prod -> github secret
      secret-key: ${AWS_S3_SECRET_KEY}
      region: ${AWS_S3_REGION}
      bucket: ${AWS_S3_BUCKET}

logging:
  level:
    root: info
    # Spring Retry 관련 로그 끄기
    org.springframework.retry: WARN  # 또는 ERROR, OFF
    org.springframework.retry.support.RetryTemplate: WARN
    # Spring Batch 관련 로그도 끄기
    org.springframework.batch: WARN
    org.springframework.batch.core.step: WARN
    org.springframework.batch.item: WARN
app:
  jwt:
    secret: "F811B1184C98D8543B1351D93948481900aDYQ82347641"
    access-token-expiration: 900000
    refresh-token-expiration: 604800000
mongo:
  uri: ${MONGODB_URI_LOG}
  collection: ${MONGO_COLLECTION}
